body {
    color: aliceblue;
    background-color: #7c8a6e;
}

header {
    color: aliceblue;;
}

h2 {
    color: aliceblue;;
}

section {
    color:  aliceblue ;
    background: #7c8a6e;
    padding-top: 80px ;
    padding-bottom: 80px;
    display: flex; /*torna flexível = põe um do lado do outro */
    justify-content: center; /* centralizar */
}

.chamada-texto {
    margin-right: 15%;
}

img {
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto; /* permite rolagem horizontal automática quando o conteúdo exeder a largura da tela */
    gap: 10px; /* adiciona espaçamento entre os elementos*/
}

