body {
    color: aliceblue;
    background-color: #7c8a6e;
}

header {
    color: aliceblue;;
}

h2 {
    color: aliceblue;;
}

section {
    color:  aliceblue ;
    background: ;
    padding-top: ;
    padding-bottom: ;
    display: ;
    justify-content: center;